@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;1,200&family=Quicksand:wght@300;400;500;600&family=Rubik:wght@300&display=swap');

/* the styles of the fonts  */

*{
    font-family: 'Quicksand' sans-serif;
}

body{
    font-family: 'Quicksand', sans-serif;
    background: #e3e9ff;
}

.main-div-to-do{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container-app{
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-header-app{
    width: 100%;
    background: #af7eeb;
    display: flex;
    color: white;
     border-radius: 2px;
}

.main-header-app-icon{
    width: 10%;
    padding: 20px;
    font-size: 20px;
}

.main-header-app-text{
    width: 90%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.main-container-to-do{
    width: 100%;
    background: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.main-list{
    width: 85%;
}

.main-list > li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.main-list > li > div:last-child{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.main-list > li > div:last-child > div:first-child{
    color: #af7eeb;
    cursor: pointer;
}


.main-list > li > div:last-child > div:last-child{
    color: #ca2e2e;
    cursor: pointer;
}

.main-button-add{
    background: #af7eeb;
    border: none;
    width: 35%;
    margin-top: 10px;
    color: white;
     display: flex;
     border-radius: 5px;
    font-family: 'Quicksand' sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.main-button-add > div:first-child{
    width: 10%;
    padding: 10px;
    font-size: 15px;
}

.main-button-add > div:last-child{
    width: 80%;
    padding: 10px;
    font-family: 'Quicksand' sans-serif;
}

.main-form{
 margin-top: 10px;
 opacity: 0;
}

.main-form > form > input{
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 20vw;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.main-form > form > input:focus{
    outline: none;
}

.main-form > form > button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #af7eeb;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

button{
    font-family: 'Quicksand', sans-serif;
}

